---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://fossiiita.github.io/opencodecollab/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Opencode" />
    <meta property="og:description" content="A mini GSoC like Open Source event. Join now and start solving issues on GitHub to win amazing cash prizes and cool t-shirts!" />
    <meta property="og:image" content="https://fossiiita.github.io/opencodecollab/images/opencode-og.jpg" />
    <link rel="icon" sizes="20x20" href="images/icons/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="stylesheets/loader.css" media="screen">
    <link rel="stylesheet" href="stylesheets/footer-distributed.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript">
    $(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#cartoonVideo").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#cartoonVideo").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#myModal").on('shown.bs.modal', function(){
        $("#cartoonVideo").attr('src', url);
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function(){
        $("#cartoonVideo").attr('src', '');
    });
});
    </script>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>OpenCode</title>
</head>
<body>
   


{% include navbar.html %}

<!-- Main Content -->


    <section class="main-content">
            <!-- Mentors Section -->
            <section class="mentors" id="mentors" href="#mentors">
                <div class="row mentors-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>MENTORS</h2>
                    <!-- Stop ignoring -->
                    {% for mentor in site.data.mentors %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <div class="card">
                                            <div class="avatar">
                                                {% if mentor.image %}
                                                <img src="images/mentors/{{mentor.image}}" alt="{{ mentor.name }}">
                                                {% else %}
                                                <img src="images/mentors/member.png" alt="{{ mentor.name }}">
                                                {% endif %}
                                                <p style="display: inline-block;">{{mentor.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="card">
                                            <p style="padding:15px;">Connect with this mentor!</p>
                                            <hr>
                                            <center>
                                                {% if mentor.github %}
                                                <a href="https://github.com/{{ mentor.github }}"><i class="fa fa-2x fa-github"></i></a> &nbsp;
                                                {% endif %}
                                                {% if mentor.blog %}
                                                <a href="{{ mentor.blog }}"><i class="fa fa-2x fa-rss-square"></i></a> &nbsp;
                                                {% endif %}
                                                {% if mentor.twitter %}
                                                <a href="https://twitter.com/{{ mentor.twitter }}"><i class="fa fa-2x fa-twitter"></i></a> &nbsp;
                                                {% endif %}
                                                {% if mentor.facebook %}
                                                <a href="https://www.facebook.com/{{ mentor.facebook }}"><i class="fa fa-2x fa-facebook-square"></i></a> &nbsp;
                                                {% endif %}
                                            </center>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Mentor Section -->

            <!-- Student Section -->
            <section class="students-sec" id="students" href="#students">
                <div class="row students-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Participants</h2>
                    <!-- Stop ignoring -->
                    {% for student in site.data.students %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <!-- front content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                {% if student.image %}
                                                    <img src="images/students/{{student.image}}"
                                                    alt="{{student.name}}"
                                                    width="200px" height="200px">
                                                    {% else %}
                                                    <img src="images/mentors/member.png"
                                                    alt="{{student.name}}"
                                                    width="200px" height="200px">
                                                    {% endif %}
                                                    <p style="padding-top:3px;width: 200px;display: inline-block;margin-top: 9px;">
                                                        <i class="fa fa-code"></i>
                                                        &nbsp;
                                                        <span class="stu-name card-text" title="{{student.name}}">
                                                            {{student.name}}
                                                        </span>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <!-- back content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                {% if student.bio %}
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    {{student.bio}}
                                                </p>
                                                {% else %}
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    Connect with this participant!
                                                </p>
                                                {% endif %}
                                                <br><hr>
                                                <center>
                                                    {% if student.github %}
                                                    <a href="https://github.com/{{student.github}}"><i class="fa fa-3x fa-github"></i></a> &nbsp;
                                                    {% endif %}
                                                    {% if student.facebook %}
                                                    <a href="https://www.facebook.com/{{student.facebook}}"><i class="fa fa-3x fa-facebook-square"></i></a> &nbsp;
                                                    {% endif %}
                                                    {% if student.twitter %}
                                                    <a href="https://twitter.com/{{student.twitter}}"><i class="fa fa-3x fa-twitter"></i></a> &nbsp;
                                                    {% endif %}
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Student Section -->
        </div> <!-- End of .container inside the main-wrapper section -->

       {% include footer.html %}

<!-- End of Main Content -->

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/js-yaml.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/index.js"></script>       
    <script src="//use.fontawesome.com/7f8b61349a.js" async></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
    <script src="javascripts/loader.js"></script>
</body>
</html>
