---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://fossiiita.github.io/opencodecollab/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Opencode" />
    <meta property="og:description" content="A mini GSoC like Open Source event. Join now and start solving issues on GitHub to win amazing cash prizes and cool t-shirts!" />
    <meta property="og:image" content="https://fossiiita.github.io/opencodecollab/images/opencode-og.jpg" />
    <link rel="icon" sizes="20x20" href="images/icons/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="stylesheets/loader.css" media="screen">
    <link rel="stylesheet" href="stylesheets/footer-distributed.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/material-cards.css" >
   <script src="javascripts/jquery-2.2.4.min.js"></script>
   <script src="javascripts/jquery.material-cards.min.js"></script>
   <link rel="stylesheets/material-cards.less" >
   <link rel="stylesheets/less/gm-variables.less" >
   <link rel="stylesheets/material-color.less" >
    <script type="text/javascript">
    $(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#cartoonVideo").attr('src');

    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#cartoonVideo").attr('src', '');

    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#myModal").on('shown.bs.modal', function(){
        $("#cartoonVideo").attr('src', url);
    });

    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function(){
        $("#cartoonVideo").attr('src', '');
    });
});

$(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
    </script>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>OpenCode</title>
</head>
<body>


{% include navbar.html %}

<!-- Main Content -->


    <section class="main-content">
            <!-- Mentors Section -->
            <section class="mentors" id="mentors" href="#mentors">
                <div class="row mentors-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <div>
                        <h2>Mentors</h2>
                      </div>
                    <!-- Stop ignoring -->
                     <div>
                    {% for mentor in site.data.mentors %}
                    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                           <article class="material-card Amber">
                               <h2>
                                   <span>{{ mentor.name }}</span>
                                   <strong>
                                       <i class="fa fa-fw fa-star"></i>
                                       Mentor
                                   </strong>
                               </h2>
                               <div class="mc-content">
                                   <div class="img-container">
                                     {% if mentor.image %}
                                     <img src="images/mentors/{{mentor.image}}" alt="{{ mentor.name }}" style="height:100%; width:100%">
                                     {% else %}
                                     <img src="images/mentors/member.png" alt="{{ mentor.name }}" style="height:100%; width:100%">
                                     {% endif %}                                 </div>
                                   <div class="mc-description">
                                    Connect with this mentor
                                   </div>
                               </div>
                               <a class="mc-btn-action">
                                   <i class="fa fa-bars"></i>
                               </a>
                               <div class="mc-footer">
                                   <h4>
                                       Social
                                   </h4>
                                   {% if mentor.github %}
                                   <a href="https://github.com/{{ mentor.github }}"><i class="fa fa-github"></i></a> &nbsp;
                                   {% endif %}
                                   {% if mentor.blog %}
                                   <a href="{{ mentor.blog }}"><i class="fa fa-rss"></i></a> &nbsp;
                                   {% endif %}
                                   {% if mentor.twitter %}
                                   <a href="https://twitter.com/{{ mentor.twitter }}"><i class="fa fa-fw fa-twitter"></i></a> &nbsp;
                                   {% endif %}
                                   {% if mentor.facebook %}
                                   <a href="https://www.facebook.com/{{ mentor.facebook }}"><i class="fa fa-fw fa-facebook"></i></a> &nbsp;
                                   {% endif %}
                               </div>
                           </article>
                       </div>
                    {% endfor %}
                  </div>
                </div>
            </section>
            <!-- End of Mentor Section -->

            <!-- Student Section -->
            <section class="students-sec" id="students" href="#students">
                <div class="row students-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <div>
                     <h2>Participants</h2>
                   </div>
                    <!-- Stop ignoring -->
                     <div>
                    {% for student in site.data.students %}
                    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                         <article class="material-card Light-Green">
                             <h2>
                                 <span>{{student.name}}</span>
                                 <strong>
                                     <i class="fa fa-fw fa-star"></i>
                                     Participant
                                 </strong>
                             </h2>
                             <div class="mc-content">
                                 <div class="img-container">
                                   {% if student.image %}
                                   <img src="images/students/{{student.image}}"
                                   alt="{{student.name}}"
                                   width="100%" height="100%">
                                   {% else %}
                                   <img src="images/mentors/member.png"
                                   alt="{{student.name}}"
                                   width="100%" height="100%">
                                   {% endif %}
                                                                 </div>
                                 <div class="mc-description">
                                   {% if student.bio %}
                                   <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                       {{student.bio}}
                                   </p>
                                   {% else %}
                                   <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                       Connect with this participant!
                                   </p>
                                   {% endif %}
                                 </div>
                             </div>
                             <a class="mc-btn-action">
                                 <i class="fa fa-bars"></i>
                             </a>
                             <div class="mc-footer">
                                 <h4>
                                     Social
                                 </h4>
                                 {% if student.github %}
                                 <a href="https://github.com/{{student.github}}"><i class="fa fa-github"></i></a> &nbsp;
                                 {% endif %}
                                 {% if student.facebook %}
                                 <a href="https://www.facebook.com/{{student.facebook}}"><i class="fa fa-fw fa-facebook"></i></a> &nbsp;
                                 {% endif %}
                                 {% if student.twitter %}
                                 <a href="https://twitter.com/{{student.twitter}}"><i class="fa fa-fw fa-twitter"></i></a> &nbsp;
                                 {% endif %}
                             </div>
                         </article>
                     </div>
                    {% endfor %}
                  </div>
                </div>
            </section>
            <!-- End of Student Section -->
        </div> <!-- End of .container inside the main-wrapper section -->

       {% include footer.html %}

<!-- End of Main Content -->

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/js-yaml.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/index.js"></script>
    <script src="//use.fontawesome.com/7f8b61349a.js" async></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
    <script src="javascripts/loader.js"></script>
</body>
</html>
