---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://fossiiita.github.io/opencodecollab/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Opencode" />
    <meta property="og:description" content="A mini GSoC like Open Source event. Join now and start solving issues on GitHub to win amazing cash prizes and cool t-shirts!" />
    <meta property="og:image" content="https://fossiiita.github.io/opencodecollab/images/opencode-og.jpg" />
    <link rel="icon" sizes="20x20" href="images/icons/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="stylesheets/loader.css" media="screen">
    <link rel="stylesheet" href="stylesheets/footer-distributed.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript">
    $(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#cartoonVideo").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#cartoonVideo").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#myModal").on('shown.bs.modal', function(){
        $("#cartoonVideo").attr('src', url);
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function(){
        $("#cartoonVideo").attr('src', '');
    });
});
    </script>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>OpenCode</title>
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1856478217929449";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="overlay">
<div class="spinner"></div> 
</div>


{% include navbar.html %}

<!-- Main Content -->
<div class="bs-example">
    
    <div id="Trailer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Trailer of OpenCode</h4>
                </div>
                <div class="video-container">
                    <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/qkt9vMKYHAM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
                                                                 
</div>

    <section class="main-content">
            <!-- Mentors Section -->
            <section class="mentors" id="mentors" href="#mentors">
                <div class="row mentors-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>MENTORS</h2>
                    <!-- Stop ignoring -->
                    {% for mentor in site.data.mentors %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <div class="card">
                                            <div class="avatar">
                                                {% if mentor.image %}
                                                <img src="images/mentors/{{mentor.image}}" alt="{{ mentor.name }}">
                                                {% else %}
                                                <img src="images/mentors/member.png" alt="{{ mentor.name }}">
                                                {% endif %}
                                                <p style="display: inline-block;">{{mentor.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="card">
                                            <p style="padding:15px;">Connect with this mentor!</p>
                                            <hr>
                                            <center>
                                                {% if mentor.github %}
                                                <a href="https://github.com/{{ mentor.github }}"><i class="fa fa-2x fa-github"></i></a> &nbsp;
                                                {% endif %}
                                                {% if mentor.blog %}
                                                <a href="{{ mentor.blog }}"><i class="fa fa-2x fa-rss-square"></i></a> &nbsp;
                                                {% endif %}
                                                {% if mentor.twitter %}
                                                <a href="https://twitter.com/{{ mentor.twitter }}"><i class="fa fa-2x fa-twitter"></i></a> &nbsp;
                                                {% endif %}
                                                {% if mentor.facebook %}
                                                <a href="https://www.facebook.com/{{ mentor.facebook }}"><i class="fa fa-2x fa-facebook-square"></i></a> &nbsp;
                                                {% endif %}
                                            </center>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Mentor Section -->

            <!-- Student Section -->
            <section class="students-sec" id="students" href="#students">
                <div class="row students-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Participants</h2>
                    <!-- Stop ignoring -->
                    {% for student in site.data.students %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <!-- front content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                {% if student.image %}
                                                    <img src="images/students/{{student.image}}"
                                                    alt="{{student.name}}"
                                                    width="200px" height="200px">
                                                    {% else %}
                                                    <img src="images/mentors/member.png"
                                                    alt="{{student.name}}"
                                                    width="200px" height="200px">
                                                    {% endif %}
                                                    <p style="padding-top:3px;width: 200px;display: inline-block;margin-top: 9px;">
                                                        <i class="fa fa-code"></i>
                                                        &nbsp;
                                                        <span class="stu-name card-text" title="{{student.name}}">
                                                            {{student.name}}
                                                        </span>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <!-- back content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                {% if student.bio %}
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    {{student.bio}}
                                                </p>
                                                {% else %}
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    Connect with this participant!
                                                </p>
                                                {% endif %}
                                                <br><hr>
                                                <p>
                                                    Contributions - <span id="contributions-{{student.github}}">0</span>
                                                </p>
                                                <br><hr>
                                                <center>
                                                    {% if student.github %}
                                                    <a href="https://github.com/{{student.github}}"><i class="fa fa-2x fa-github"></i></a> &nbsp;
                                                    {% endif %}
                                                    {% if student.facebook %}
                                                    <a href="https://www.facebook.com/{{student.facebook}}"><i class="fa fa-2x fa-facebook-square"></i></a> &nbsp;
                                                    {% endif %}
                                                    {% if student.twitter %}
                                                    <a href="https://twitter.com/{{student.twitter}}"><i class="fa fa-2x fa-twitter"></i></a> &nbsp;
                                                    {% endif %}
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Student Section -->

            <!-- Projects Section -->
            <section class="projects-sec" id="projects" href="#projects">
                <div class="row projects-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Projects Currently in OpenCode</h2>
                    <!-- Stop ignoring -->
                    {% for project in site.data.projects %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper github-project" data-user="{{project.user}}" data-repo="{{project.repo}}">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <!-- front content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                    <img src="images/projects/{{project.image}}"
                                                    alt="{{project.name}}"
                                                    width="200px" height="200px">
                                                    <p style="padding-top:3px;width: 200px;display: inline-block;margin-top: 9px;">
                                                        <i class="fa fa-file-text"></i>
                                                        &nbsp;
                                                        <span class="stu-name card-text" title="{{project.name}}">
                                                            {{project.name}}
                                                        </span>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <!-- back content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    <a style="text-decoration: none;" class="fa-2x" href="{{project.github}}" target="_tab">GitHub <i class="fa fa-external-link"></i></a>
                                                </p>
                                                <br><hr>
                                                <center class="fa-2x">
                                                    <i class="fa fa-code"></i> <span id="{{project.user}}-{{project.repo}}-language">HTML</span><br>
                                                    <a href="" id="{{project.user}}-{{project.repo}}-stars" style="text-decoration: none;"><i class="fa fa-star"></i> <span>0</span></a><br>
                                                    <a href="" id="{{project.user}}-{{project.repo}}-forks" style="text-decoration: none;"><i class="fa fa-code-fork"></i> <span>0</span></a><br>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Projects Section -->

            <!-- Issues Section -->
            <section class="issues-sec" id="issues" href="#issues">
                <div class="row issues-wrapper" style="height:auto;">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Issues</h2>
                    <!-- Stop ignoring -->
                    <br>
                    <div class="panel-group" id="issues-accordion" role="tablist" aria-multiselectable="true">
                    {% for project in site.data.projects %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{project.user}}-{{project.repo}}-heading">
                            <a class="collapsed" style="text-decoration: none; color: black;" role="button" data-toggle="collapse" data-parent="#issues-accordion" href="#{{project.user}}-{{project.repo}}" aria-expanded="false" aria-controls="{{project.user}}-{{project.repo}}">
                                <h4 class="panel-title" style="text-align: left">{{project.name}} ({{project.stack}})</h4>
                            </a>
                        </div>
                        <div id="{{project.user}}-{{project.repo}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{project.user}}-{{project.repo}}-heading">
                            <div class="panel-body" style="padding: 15px 0px 15px 0px;">
                                <div id="{{project.user}}-{{project.repo}}-issues">
                                </div>
                                <div class="col-xs-12" id="{{project.user}}-{{project.repo}}-load-more">
                                    <center>
                                        <button class="btn btn-primary" onclick="loadMoreIssues('{{project.user}}', '{{project.repo}}')">Load more</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End of Issues Section -->


        </div> <!-- End of .container inside the main-wrapper section -->

       {% include footer.html %}



<!-- End of Main Content -->

<!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/js-yaml.min.js"></script>
    <script src="javascripts/main.js"></script>
      <script src="javascripts/index.js"></script>       
    <script src="//use.fontawesome.com/7f8b61349a.js" async></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
    <script src="javascripts/issues-loader.js"></script>
    <script src="javascripts/repo-stats-loader.js"></script>
    <script src="javascripts/loader.js"></script>
    <script>
        $(document).ready(function() {
            {% for project in site.data.projects %}
            $('#{{project.user}}-{{project.repo}}-load-more button').click();
            {% endfor %}
            $('#issues-accordion div a').first().click();
        });
    </script>
    <script>
        var contributors = {};  // dictionary -> contributors["user_id"] = contributions_made

        function loadContributors(user, repo) {
            $.getJSON("https://api.github.com/repos/" + user + "/" + repo + "/contributors", {}, loadContributorsCallback);
        }

        function loadContributorsCallback(data) {
            $(data).each(function(index) {
                if (contributors[data[index]["login"]]) {
                    contributors[data[index]["login"]] += data[index]["contributions"];
                } else {
                    contributors[data[index]["login"]] = data[index]["contributions"];
                }

                $('#contributions-' + data[index]["login"]).html(contributors[data[index]["login"]]);
            });
        }

        $(document).ready(function() {
            // To load contributors
            {% for project in site.data.projects %}
            loadContributors("{{project.user}}", "{{project.repo}}");
            {% endfor %}
        });
    </script>
</body>
</html>
