---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://fossiiita.github.io/opencodecollab/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Opencode" />
    <meta property="og:description" content="A mini GSoC like Open Source event. Join now and start solving issues on GitHub to win amazing cash prizes and cool t-shirts!" />
    <meta property="og:image" content="https://fossiiita.github.io/opencodecollab/images/opencode-og.jpg" />
    <link rel="icon" sizes="20x20" href="images/icons/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="stylesheets/loader.css" media="screen">
    <link rel="stylesheet" href="stylesheets/footer-distributed.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript">
    $(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#cartoonVideo").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#cartoonVideo").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#myModal").on('shown.bs.modal', function(){
        $("#cartoonVideo").attr('src', url);
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function(){
        $("#cartoonVideo").attr('src', '');
    });
});
    </script>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>OpenCode</title>
</head>
<body>



{% include navbar.html %}

<!-- Main Content -->


            <!-- Projects Section -->
            <section class="projects-sec" id="projects" href="#projects">
                <div class="row projects-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Projects Currently in OpenCode</h2>
                    <!-- Stop ignoring -->
                    {% for project in site.data.projects %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper github-project" data-user="{{project.user}}" data-repo="{{project.repo}}">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <!-- front content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                    <img src="images/projects/{{project.image}}"
                                                    alt="{{project.name}}"
                                                    width="200px" height="200px">
                                                    <p style="padding-top:3px;width: 200px;display: inline-block;margin-top: 9px;">
                                                        <i class="fa fa-file-text"></i>
                                                        &nbsp;
                                                        <span class="stu-name card-text" title="{{project.name}}">
                                                            {{project.name}}
                                                        </span>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <!-- back content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    <a style="text-decoration: none;" class="fa-2x" href="{{project.github}}" target="_tab">GitHub <i class="fa fa-external-link"></i></a>
                                                </p>
                                                <br><hr>
                                                <center class="fa-2x">
                                                    <i class="fa fa-code"></i> <span id="{{project.user}}-{{project.repo}}-language">HTML</span><br>
                                                    <a href="" id="{{project.user}}-{{project.repo}}-stars" style="text-decoration: none;"><i class="fa fa-star"></i> <span>0</span></a><br>
                                                    <a href="" id="{{project.user}}-{{project.repo}}-forks" style="text-decoration: none;"><i class="fa fa-code-fork"></i> <span>0</span></a><br>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Projects Section -->
     <!-- Students Projects Section -->
            <section class="stprojects-sec" id="stprojects" href="#stprojects">
                <div class="row stprojects-wrapper">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Student projects</h2>
                    <!-- Stop ignoring -->
                    {% for stproject in site.data.stprojects %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-wrapper github-project" data-user="{{stproject.user}}" data-repo="{{stproject.repo}}">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <!-- front content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                    <img src="images/stprojects/{{stproject.image}}"
                                                    alt="{{stproject.name}}"
                                                    width="200px" height="200px">
                                                    <p style="padding-top:3px;width: 200px;display: inline-block;margin-top: 9px;">
                                                        <i class="fa fa-file-text"></i>
                                                        &nbsp;
                                                        <span class="stu-name card-text" title="{{stproject.name}}">
                                                            {{stproject.name}}
                                                        </span>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <!-- back content -->
                                        <div class="card stu-card">
                                            <div class="avatar">
                                                <p style="padding:10px;width: 200px;display: inline-block;margin-top: 9px;">
                                                    <a style="text-decoration: none;" class="fa-2x" href="{{stproject.gh}}" target="_tab">To view <i class="fa fa-external-link"></i></a>
                                                </p>
                                              
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End of Projects Section -->

            <!-- Issues Section -->
            <section class="issues-sec" id="issues" href="#issues">
                <div class="row issues-wrapper" style="height:auto;">
                    <!-- Start ignoring BootLintBear -->
                    <h2>Issues</h2>
                    <!-- Stop ignoring -->
                    <br>
                    <div class="panel-group" id="issues-accordion" role="tablist" aria-multiselectable="true">
                    {% for project in site.data.projects %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{project.user}}-{{project.repo}}-heading">
                            <a class="collapsed" style="text-decoration: none; color: black;" role="button" data-toggle="collapse" data-parent="#issues-accordion" href="#{{project.user}}-{{project.repo}}" aria-expanded="false" aria-controls="{{project.user}}-{{project.repo}}">
                                <h4 class="panel-title" style="text-align: left">{{project.name}} ({{project.stack}})</h4>
                            </a>
                        </div>
                        <div id="{{project.user}}-{{project.repo}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{project.user}}-{{project.repo}}-heading">
                            <div class="panel-body" style="padding: 15px 0px 15px 0px;">
                                <div id="{{project.user}}-{{project.repo}}-issues">
                                </div>
                                <div class="col-xs-12" id="{{project.user}}-{{project.repo}}-load-more">
                                    <center>
                                        <button class="btn btn-primary" onclick="loadMoreIssues('{{project.user}}', '{{project.repo}}')">Load more</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End of Issues Section -->


        </div> <!-- End of .container inside the main-wrapper section -->

       {% include footer.html %}



<!-- End of Main Content -->
   <!-- Scripts -->
    <script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'opencode2017/Lobby'
  };
</script>
<!-- Scripts -->
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/js-yaml.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/index.js"></script>       
    <script src="//use.fontawesome.com/7f8b61349a.js" async></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
    <script src="javascripts/issues-loader.js"></script>
    <script src="javascripts/repo-stats-loader.js"></script>
    <script src="javascripts/loader.js"></script>
    <script>
        $(document).ready(function() {
            {% for project in site.data.projects %}
            $('#{{project.user}}-{{project.repo}}-load-more button').click();
            {% endfor %}
            $('#issues-accordion div a').first().click();
        });
    </script>
     
</body>
</html>
