 <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1856478217929449";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="overlay">
<div class="spinner"></div> 
</div>

<!-- Navigation Bar -->
 




<!-- 
- SideNav.css by Mohamed Abo El-Ghranek - http://midoghranek.github.io/sidenav
- To chnage Icons 
  * follow this link http://fortawesome.github.io/Font-Awesome/icons/
  * find ths icon code like <i class="fa fa-home"></i>
  * relace your icon in the HTML code below
- HTML code example 
<div id='snav' class='en'><ul>
  <li><a href='#'><i class="fa fa-home"></i><span>Home</span></a></li> 
</ul></div>
-->
<div id='snav' class='en'>
 
  <ul>
    
    <li>
      <a href="index.html#mentors">
        <i class="fa fa-adddress-card"></i>
        <span>Mentors</span>
      </a>
    </li>
    
     <li>
      <a href="index.html#students">
        <i class="fa fa-address-book"></i>
        <span>Participants</span>
      </a>
    </li>
 
     <li>
      <a href="index.html#blog">
        <i class="fa fa-bookmark"></i>
        <span>Participant Blog</span>
      </a>
    </li>

    <li>
      <a href="projects.html#projects">
        <i class="fa fa-folder"></i>
        <span>Project</span>
      </a>
    </li> 
    <li>
      <a href="projects.html#issues">
        <i class="fa fa-archive"></i>
        <span>Issues</span>
      </a>
    </li>
    <li>
      <a href="scoreboard.html">
        <i class="fa fa-file-code-o"></i>
        <span>Event Scoreboard</span>
      </a>
    </li>
    <li>
      <a class="js-gitter-toggle-chat-button" href="#" id="chatwithus">
        <i class="fa fa-quote-comment-o"></i>
        <span>ChatWithUs</span>
      </a>
    </li>
    <li>
      <a href="#Trailer" data-toggle="modal">
        <i class="fa fa-file-video-o"></i>
        <span>Trailer</span>
      </a>
    </li>
      <li>
      <a>
       <div class="fb-like" data-href="https://www.facebook.com/Opencode-1038106262984513/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
      </a>
    </li>
    <li>
    
     

  </ul>
  
</div>

<div class="bs-example">
    
    <div id="Trailer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Trailer of OpenCode</h4>
                </div>
                <div class="video-container">
                    <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/qkt9vMKYHAM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
                                                                 
</div>

  
