.timecontain {
  text-align: center;
  padding: 10% 5%;
  background: #0D1A29;
  font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;  
  width: 100%;

  margin-bottom: -100%;

}

#timer {  
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48C8FF;
  }
  .t1 {
    display: inline-block;
    min-width: 90px;
   } 
    .timespan {
      color: #B1CDF1;
      display: block;
      font-size: .35em;
      font-weight: 400;
    }
  div {
    display: inline-block;
    min-width: 90px;
  }

