.main-content {
    background-color: #f4f4f4;
}
.white-header {
    color: white;
    margin-bottom: 30px;
}
.social-media {
    text-align: center;
    /*background: #344146;*/
    background: #212121;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}

.inner a.button {
    display: inline-block;
    width: 202px;
    height: 80px;
}

.mentors .mentors-wrapper, .blogs-sec .blogs-wrapper, .students-sec .students-wrapper, .projects-sec .projects-wrapper, .issues-sec .issues-wrapper, .designs-sec .designs-wrapper, .contributors, #contributors-thanks{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.mentors .card, #contributors-list .card, .students-sec .card, .projects-sec .card, .blogs-sec .card {
    width: 200px;
    height: 250px;
    margin: 20px auto;
    background: #fff;
    text-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.card-text{
    overflow: scroll;
    white-space: nowrap;
    display: inline;
}

.blogs-sec .card {
    width: 500px;
    height: 400px;
    margin: 0;
}
.stu-name{
    margin-left:-7px;
    font-size:16px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    white-space: nowrap;
    vertical-align: middle;
}
.mentors .card:hover, #contributors-list .card:hover, .students-sec .card:hover, .projects-sec .card:hover, .blogs-sec .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mentors .card p, .students-sec .card p, .projects-sec .card p, .blogs-sec .card p {
    margin-top: 4.5%;
    font-size: 15px;
}
.mentors .avatar, #contributors-list .avatar, .students-sec .avatar, .projects-sec .avatar {
    position: relative;
    width: 200px;
    height: 200px;
}

.mentors .card .avatar img, .students-sec .card .avatar .img, .projects-sec .card .avatar .img, .blogs-sec .card .avatar .img {
    width: 100%;
}

.mentors .social, #contributors-list .contribs, .students-sec .social, .projects-sec .links, .blogs-sec .links {
    position: absolute;
    background: #fff;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-top: 40%;
}
.mentors .card .avatar:hover .social, .students-sec .card .avatar:hover .social, .projects-sec .card .avatar:hover .links, .blogs-sec .card .avatar:hover .links {
    opacity: 0.8;
}
.mentors .social i, .students-sec .social i, .projects-sec .links i, .blogs-sec .links i {
    font-size: 40px;
    margin: 10px;
    text-align: center;
}
.mentors .mentors-wrapper {
    background: #c0b283;

}

.students-sec .students-wrapper {
    background: #dcd0c0;
}

.projects-sec .projects-wrapper {
    background: #87ceeb;
}

.issues-sec .issues-wrapper {
    background: #D5D8DC;
}

.title {
    padding-top: 30px;
    text-align: center;
    color: #ffd700;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4),
    0px 7px 6px rgba(0, 0, 0, 0.1),
    0px 2px 8px rgba(0, 0, 0, 0.1);
}
hr {
    width: 100px;
    margin-top: 0;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.button {
    background: #FFF;
    text-align: center;
    height: 40px;
    width: 300px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.button a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.navbar-brand {
    margin-top: -7px;
}

.ribbon {
    position: absolute;
    top: 50px;
    right: 0;
    border: 0;
    z-index: 1000;
}

.designs {

    background: #ffb300;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 5px;
}

.designs img {
    padding: 3em .6em;
}

.yt {
    /*margin-top: 3em;*/
    /*padding: 1em;*/
}

.students-section {
    padding: 2em;
}

.social-media, .latest-issues, .logos, .blog, .projects-sec, .students-sec, .issues-sec, .mentors {
    margin-top: 100px;
}
.social-media {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    /*margin-bottom: 30px;*/
}
.social-media:hover {
    box-shadow: 1px 5px 20px #888888;
}
.active {
    background: #eee;
}

#map {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#map:hover {
    box-shadow: 1px 5px 20px #888888;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.logos img {
  width: 400px;
  height: 220px;
}

#tweets:after {
    content: '';
    display: block;
    clear: both;
}

.tweet {
    display: table-cell;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 1.2em;
    background-color: white;
    vertical-align: middle;
    box-sizing: border-box;
}

.tweet a {
    color: #337ab7;
}

#tweets .panel-footer {
    width: 100%;
    margin-top: 19px;
}

#previous {
    float: left;
    color: black;
}

#next {
    float: right;
    color: black;
}@media (min-width: 950px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* CSS for card flip */

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

/* Used for flip cards not normal card */
.card-wrapper {
    height:250px;
    width: 200px;
    margin:auto;
}